#logof1{
  width: 60px;
  transition: 0.3s;
}
#logof1:hover{
  transform: scale(1.1);
}
.f1_logo{
  width: 100%;
  margin-top: 30%;
}
#header {
  background-color: red!important;
  
}
#header a{
  transition:  all 0.5s;
}
#menu-lnk2{
  transition: 0.5s;
}